/* Tailwind Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Base Styles */
@layer base {
    html {
        @apply scroll-smooth;
    }
    body {
        @apply bg-black text-white min-h-screen box-border;
    }
}

/* Custom Components */
@layer components {
    .btn-primary {
        @apply bg-blue-300 hover:bg-amber-400 cursor-pointer text-gray-800 font-bold py-2 px-4 rounded;
    }
}

/* Third-Party Overrides */
.calendly-inline-widget {
    @apply !h-[600px] !w-full;
}

ion-icon {
    @apply text-blue-300 hover:text-amber-400;
}

@media only screen and (max-width: 426px) {
    
    main{
        @apply flex-col;
    }
    main #profileCard{
        @apply w-full;
        position: relative;
    }
    #inquireBtn{
        @apply flex flex-col;
        gap: 10px;
        width: 15rem;;
    }
    #projectImage{
        @apply hidden;
    }
    header{
        @apply text-xl;
        line-height: 1.75rem;
    }
    #scrollToTop{
        @apply hidden;
    }
}